/* Общие стили */
* {

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

main {
    flex: 1 0 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Шапка */
.header {
    width: 100%;
    height: auto;
    padding: 0;
    background-color: #0268BD;
    box-shadow: 0 4px 4px rgba(0, 4, 4, 0.361);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 60px;
    gap: 150px;
}

.header_logo img {
    width: 100px;
    height: 100px;
}

.header_account {
    width: 80px;
    height: 80px;
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header_menu li a {
    font-size: 32px;
    transition: color 0.3s ease;
}

.header_menu li a:hover {
    color: #ffcc00;
}

.sub_menu {
    padding: 10px 20px;
    background-color: #004F92;
}

.sub_menu ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 32px;
}

.sub_menu ul a:hover {
    color: #ffcc00;
}

/*Главная страница*/

.banner {
    height: 1200px;
    padding-inline: 60px;
    background-image: url('./image/glav_photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 170px;
    gap: 100px;
}

.banner-title {
    width: max-content;
    font-size: 72px;
    font-family: 'Rubik Mono One';
}

.banner-title-top {
    margin-left: 10px;
}

.banner-title-bottom {
    padding: 10px;
    border-radius: 8px;
    background-color: #0268BD;
}

.banner-button {
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    color: #0268BD;
    font-size: 55px;
    font-family: 'Rubik Mono One';
    text-transform: uppercase;
}

.banner-button:hover{
    background-color: #e3e2e2;
}

/*Карточки*/

.card-list {
    display: flex;
    justify-content: space-between;
    padding: 115px;
    padding-inline: 60px;
    gap: 20px;
}

.card {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}
.card:hover{
    transform: scale(1.05);
}

.text-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: #0268BD;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

/*Слайдер*/

.com_slider {
    margin: 0 auto;
    padding: 10px 60px;
    text-align: center;
}

.slider_text {
    padding-bottom: 80px;
    color: #0268BD;
    font-size: 32px;
    font-family: 'Rubik Mono One';
}

.knopochki {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    gap: 30px;
}

.active-option {
    width: 220px;
    height: 80px;
    border: none;
    background: #0268BD !important;
    color: #fff !important;
    font-size: 36px;
    font-family: 'Nunito';
}

.slider-option {
    width: 220px;
    height: 80px;
    border: 3px solid #0268BD;
    background-color: #fff;
    color: #0268BD;
    font-weight: bold;
    font-size: 16px;
    font-size: 36px;
    font-family: 'Nunito';
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-image {
    cursor: pointer;
}

/*Информация с подробно*/

.info {
    height: 800px;
    margin: 100px 0px 50px 0px;
    padding: 130px 60px 0px 60px;
    background-image: url(./image/infoblue.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.com-info{
    display: flex;  
    justify-content: space-between;
}

.info-text h2{
    font-family: 'Rubik Mono One';
    font-size: 36px;
    padding-bottom: 30px;
}

.info-text p{
    font-family: 'Nunito';
    font-size: 27px;
    padding: 0px 0px 100px 0px;
}

.info-text a{
    padding: 20px 50px 20px 50px;
    border: none;
    border-radius: 18px;
    font-size: 32px;
    font-family: 'Nunito';
    margin-top: 50px;
    background-color: #fff;
    color: #000;
}
.info-text a:hover{
    background-color: #e3e2e2;
}

.info-icon{
    padding: 80px 0px 0px 0px;
    display: flex;
    gap: 80px;
    text-align: center;
}

/*Все для вашего удобства*/

.comfort {
    padding: 100px 60px 100px 60px;
}

.comfort h2 {
    padding-bottom: 10px;
    color: #0268BD;
    font-size: 32px;
    font-family: 'Rubik Mono One';
    text-align: center;
}

.comfort-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    text-align: center;

}

.comfort_title {
    color: #000;
    font-size: 18px;
}

.comfort_subtitle {
    color: #000;
    font-size: 24px;
    font-family: 'Nunito';
}

/*Услуги*/

.services {
    padding: 50px 60px 50px 60px;
}

.services h2 {
    padding: 0px 0px 35px 0px;
    color: #0268BD;
    font-size: 55px;
    font-family: 'Rubik Mono One';
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
}

.services-img {
    border-radius: 32px;
    transition: transform 0.5s ease;
}

.services-img:hover {
    transform: scale(1.05);
}

/*Звоните нам*/

.zvon{
    margin-top: 100px;
    padding: 150px 0px 0px 0px;
    height: 600px;
    background-image: url(./image/build.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.zvon-container{
    padding-inline:60px;
    display: flex;
    justify-content: space-between;
}

.zvon-text h2{
    color: #fff;
    font-family: 'Rubik Mono One';
    font-size: 36px;
}

.zvon-text p{
    margin-top: 35px;
    font-family: 'Nunito';
    font-size: 36px;
}

.zvon-p{
    margin-top: 35px;
    font-family: 'Nunito';
    font-size: 36px;
}

.zvon-h{
    margin-top: 35px;
}

/*Иконки полсе звоните нам*/

.icon-center{
    display: flex;
    justify-content: space-between;
    padding:60px 60px 30px 60px;
    align-items: center;
}

.icon-card{
    display: flex;
    align-items: center;
    gap: 30px;
    object-fit: cover;
}

.icon-card p{
    color: #000;
    font-family: 'Nunito';
    font-size: 36px;
}
.icon-card:hover {
    text-decoration: underline;
    color: #000;
}

/*Главная о нас*/

.banners{
    background-image: url(./image/bg-onas.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banners-container{
    padding: 150px 60px 10px 60px;
}

.banners-container h2{
    font-family: 'Rubik Mono One';
    font-size: 48px;
}

.banners-container p{
    font-family: 'Nunito';
    font-size: 36px
}

/* Футер */
footer {
    width: 100%;
    height: 200px;
    background-color: #222222;
}

.page-title {
    text-align: center;
}

.slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slider_text {
    text-align: center;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 660px;
    padding-inline: 100px;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 64%;
    width: 50px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: .2s;
}

.prev-button {
    left: 0px;
}

.next-button {
    right: 0px;
}
